<div class="container">
    <div class='map'>
        <yaga-map [zoom]="mapConfig.zoom" [(minZoom)]="mapConfig.minZoom" [(maxZoom)]="mapConfig.maxZoom" [lat]="mapConfig.lat"
            [lng]="mapConfig.lng">
            <yaga-tile-layer [(url)]="mapConfig.tileLayerUrl"></yaga-tile-layer>
            <!-- 
          don't use [(data)]. use [data] instead
        -->
            <!-- <yaga-geojson [data]="district_geo" *ngIf="district_geo" [defaultStyle]="mapConfig.style" [styler]="style"
                (click)="openDistrict($event)">
            </yaga-geojson> -->

            <yaga-layers-control opacity="1">
                <yaga-feature-group yaga-overlay-layer="Marker" *ngFor="let s of stations">
                    <yaga-circle-marker [title]="s.name" [(radius)]="mapConfig.radius" [(weight)]="mapConfig.polyline.stroke" [lat]="s.lat" [lng]="s.lng" (click)="markerClick(s)"></yaga-circle-marker>
                </yaga-feature-group>
            </yaga-layers-control>

            <!-- <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="polylineH"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline>
            <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="polylineV"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline> -->

            
            <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="zone2_polylineH"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline>
            <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="zone2_polylineV"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline>

            <yaga-layers-control opacity="1">
                <yaga-feature-group yaga-overlay-layer="Marker" *ngFor="let s of chinaStations">
                    <yaga-circle-marker [title]="s.name" [(radius)]="mapConfig.radius" [(weight)]="mapConfig.polyline.stroke" [lat]="s.lat" [lng]="s.lng" (click)="markerClick(s)"></yaga-circle-marker>
                </yaga-feature-group>
            </yaga-layers-control>

            <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="china_polylineV"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline>

            <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="china_polylineH"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline>

            <yaga-layers-control opacity="1">
                <yaga-feature-group yaga-overlay-layer="Marker" *ngFor="let s of seoulStations">
                    <yaga-circle-marker [title]="s.name" [(radius)]="mapConfig.radius" [(weight)]="mapConfig.polyline.stroke" [lat]="s.lat" [lng]="s.lng" 
                        (click)="markerClick(s)" [(color)]="mapConfig.polyline.color"></yaga-circle-marker>
                </yaga-feature-group>
            </yaga-layers-control>

            <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="seoul_polylineV"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline>

            <yaga-polyline *ngIf="ifShowGrid"
                [(geoJSON)]="seoul_polylineH"
                [(stroke)]="mapConfig.polyline.stroke"
                [(color)]="mapConfig.polyline.color"
                [(weight)]="mapConfig.polyline.weight">
            </yaga-polyline>

        </yaga-map>
    </div>
    <div class="info-box" [ngClass]="{'': isMobile}">
        <div class="date" [ngClass]="{'date-mobile': isMobile}">
            <ul>
                <li><div class="time-header">Current time:</div><span><b class='bold'>{{ current_timestamp }}</b></span></li>
                <li><div class="time-header" *ngIf="selected_prediction.length">Forecast time:</div><span><b class='bold'>{{current_selected_timestamp}} (+{{ current_time + 1 }}H)</b></span></li>
            </ul>
        </div>
        <div class="title-tab">
            <div class='title-tab-content' (click)="select_predict_factor(0)" [ngClass]="{'active': (this.selectedIndex == 0)}">PM<sub>2.5</sub></div>
            <div class='title-tab-content' (click)="select_predict_factor(1)" [ngClass]="{'active': (this.selectedIndex == 1)}">PM<sub>10</sub></div>
        </div>
        <ul class='list-info' *ngIf="district_geo">
            <li class='list-element list-header'>
                <div class='list-item'>이름</div>
                <div class='list-item'>평균 <a href="https://airnow.gov/index.cfm?action=aqibasics.aqi">(AQI Index)</a></div>
                <div class="clearfix"></div>
            </li>
            <li class="list-element" *ngFor="let d of district_geo.features">
                <div class='list-item'>{{d.properties.name}}</div>
                <div class='list-item'>{{d.properties.density}}</div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="navigation">
            <button class="next btn btn-primary" (click)="next()">+1H <i class='fa fa-chevron-right'></i></button>
            <button class="back btn btn-primary" (click)="back()"><i class='fa fa-chevron-left'></i> -1H</button>
            <div class='clearfix'></div>
        </div>
    </div>
    <div class='dynamic-chart' [ngClass]="{'show': dchartProperties.isShowDChart, 'hide': '!dchartProperties.isShowDChart'}"
        [style.top]="dchartProperties.y"
        [style.left]="dchartProperties.x">
        <div class="close" (click)="dchartProperties.isShowDChart = false"><i class="fa fa-times"></i></div>
        <div class='chart'>
            <div [chart]="dchartpm25"></div>
        </div>
        <div class='chart'>
            <div [chart]="dchartpm10"></div>
        </div>
    </div>
    <div class='chart-container'>
        <!-- <div class="close"><i class="fa fa-chevron-down"></i></div> -->
        <div class="row">
            <div class='col-lg-4 chart'>
                <div [chart]="chart"></div>
            </div>
            <div class='col-lg-4 chart'>
                <div [chart]="bchart"></div>
            </div>
            <div class='col-lg-4 chart'>
                <div [chart]="schart"></div>
            </div>
        </div>
    </div>
    <div class="colorbar" [ngClass]="{'colorbar-mobile': isMobile}"></div>
</div>