.map{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.yaga-map {
    min-height: 100%;
} 
.info-box{
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #ffffff;
    border: 1px solid #ccc;
}

/* table info*/
.list-info{
    margin: 10px;
    border-radius: 10px;
}
.list-element{
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
.list-element:nth-child(2n+1){
    background: #f9f7f7;
}
.list-element:nth-child(2n){
    background: #f3f3f3
}
.list-element .list-item{
    float: left;
    text-align: center
}
.list-element .list-item:first-child{
    width: 100px;
}
.list-element .list-item:nth-child(2){
    width: 100px;
}
.list-info .list-header{
    font-weight: bold;
    background: #e0e0e0;
}
.navigation{
    margin-top: 10px;
}
.navigation .btn{
    margin: 0px 5px;
    float: right
}
.navigation .back{
    margin: 0
}


.date {
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: 360px;
    width: 300px;
    height: 40px;
    background: rgba(200,200,255,0.5);
    color: #000;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.chart{
    position: fixed;
    z-index: 9999;
    right: 10px;
    width: 400px;
    height: 300px;
    top: 0;
}
.chart .highcharts-legend-item .highcharts-point{
    display: none !important;
}
.colorbar{
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 64px;
    height: 700px;
    background-image: url('./assets/css/images/color_bar.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9999;
}

/* You can add global styles to this file, and also import other style files */
@media (min-width: 1600px){
    .container {
        width: 1400px;
    }
}

@media (min-width: 1800px){
    .container {
        width: 1600px;
    }
}

@media (min-width: 2000px){
    .container {
        width: 1800px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .chart{
        right: 0px;
        width: 400px;
        height: 200px;
        top: 0px;
        margin-top: 0px;
    }
    .info-box {
        width: 230px;
        height: 100%;
    }
    .date {
        top: 0px;
        left: 250px;
    }
    .colorbar{
        right: 0;
        width: 45px;
        height: 494px;
    }
}