.bold{
    font-weight: bold;
}
.map{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.yaga-map {
    min-height: 100%;
} 
.title-tab{
    width: 100%;
    height: 30px;    
}
.title-tab-content{
    width: 50%;
    float: left;
    text-align: center;
    line-height: 30px;
    height: 29px;
    background: #fff;
    border-bottom: 1px solid #CCC;
    user-select: None
}
.title-tab-content:hover{
    cursor: pointer;
    background:#ececec
}
.title-tab-content.active{
    background: #007bff;
    color: #FFF;
    border-right: 1px solid #0066d3;
    border-bottom: 1px solid #0066d3;
}
.title-tab-content.active:hover{
    background: #007bff;
}
.title-tab-content sub{
    font-size: 10px
}
.info-box{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #ffffff;
    border: 1px solid #ccc;
}

/* table info*/
.list-info{
    margin: 10px;
    border-radius: 10px;
}
.list-element{
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
.list-element:nth-child(2n+1){
    background: #f9f7f7;
}
.list-element:nth-child(2n){
    background: #f3f3f3
}
.list-element .list-item{
    float: left;
    text-align: center
}
.list-element .list-item:first-child{
    width: 100px;
}
.list-element .list-item:nth-child(2){
    width: 100px;
}
.list-info .list-header{
    font-weight: bold;
    background: #e0e0e0;
}
.navigation{
    margin-top: 10px;
}
.navigation .btn{
    margin: 0px 5px;
    float: right
}
.navigation .back{
    margin: 0
}


.date {
    z-index: 9999;
    top: 10px;
    left: 310px;
    height: 40px;
    background: rgba(200, 200, 255, 0.65);
    color: #000;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}
.date-mobile{
    left: 0;
}
.chart{
    position: fixed;
    z-index: 9999;
    right: 10px;
    width: 400px;
    height: 150px;
    top: 0;
}
.chart .highcharts-legend-item .highcharts-point{
    display: none !important;
}
.colorbar{
    position: fixed;
    top: 50%;
    right: 10px;
    width: 100px;
    margin-top: -265px;
    height: 530px;
    background-image: url('./assets/css/images/color_bar_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9999;
    opacity: 0.8;
}
.colorbar-mobile{
    top: auto;
    bottom: 0;
    width: 38px;
    height: 202px;
}
/* You can add global styles to this file, and also import other style files */
@media (min-width: 1600px){
    .container {
        width: 1400px;
    }
}

@media (min-width: 1800px){
    .container {
        width: 1600px;
    }
}

@media (min-width: 2000px){
    .container {
        width: 1800px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .chart{
        right: 0px;
        width: 300px;
        height: 140px;
        top: 0px;
        margin-top: 0px;
    }
    .info-box {
        width: 230px;
        height: 100%;
    }
    .date {
        top: 0px;
        left: 250px;
    }
    .colorbar{
        right: 0;
        width: 45px;
        height: 494px;
    }
}
@media only screen and (max-width: 767px){
    .chart{
        right: 0px;
        width: 300px;
        height: 140px;
        top: 0px;
        margin-top: 0px;
    }
    .info-box {
        display: none;
    }
    .date {
        top: 0px;
        left: 250px;
    }
    .colorbar{
        right: 0;
        top: auto;
        bottom: 0;
        width: 38px;
        margin-top: auto;
        height: 202px;
    }
}